
<div data-collapse="tiny" data-animation="default" data-duration="100" role="banner" class="drnavbar-4-copy-4 w-nav">
  <div class="drs1_content-copy">
    <div class="drtransparant-menu-button-2 w-nav-button">
      <nav role="navigation" class="drnav-menu-2 w-nav-menu"><a href="#" class="drnav-link drlight w-nav-link">главная</a><a href="#" class="drnav-link drlight w-nav-link">обо мне</a><a href="#" class="drnav-link drlight w-nav-link">Деятельность</a><a href="#" class="drnav-link drlight w-nav-link">купить</a>
        <div data-delay="0" class="drdropdown w-dropdown">
          <div class="drnav-link drdropdown-toggle drlight w-dropdown-toggle">
            <div class="text-block-16">мечты и цели</div>
            <div class="drdropdown-icon w-icon-dropdown-toggle"></div>
          </div>
          <nav class="drdropdown-list w-dropdown-list"><a href="#" class="drdropdown-link w-dropdown-link">Pricing #1</a><a href="#" class="drdropdown-link w-dropdown-link">Pricing #2</a><a href="#" class="drdropdown-link w-dropdown-link">Pricing #3</a><a href="#" class="drdropdown-link w-dropdown-link">Pricing #4</a><a href="#" class="drdropdown-link w-dropdown-link">Pricing #5</a></nav>
        </div>
        <div data-delay="0" class="drdropdown w-dropdown">
          <div class="drnav-link drdropdown-toggle drlight w-dropdown-toggle">
            <div class="text-block-16">блог</div>
            <div class="drdropdown-icon w-icon-dropdown-toggle"></div>
          </div>
          <nav class="drdropdown-list w-dropdown-list"><a href="#" class="drdropdown-link w-dropdown-link">Blog Style #1</a><a href="#" class="drdropdown-link w-dropdown-link">Blog Style #2</a><a href="#" class="drdropdown-link w-dropdown-link">Blog Style #3</a></nav>
        </div><a href="#" class="drnav-link drlight w-nav-link">контакты</a></nav>
      <div class="icon-3 w-icon-nav-menu"></div>
    </div><a href="#" class="drlogo-block-2 w-nav-brand"><img src="images/5ee791ab668d3bef77ee0fbb_logo20DM-fin.png" alt="" class="drlogo-2"></a></div>
</div>
<div f_layouts="Секции" class="div-block-67">
  <div f_layout="Слайдер" class="drme-main-copy drabout-1">
    <div class="drs1_box-2">
      <div class="div-block-68">
        <ul role="list" class="drchecklist-copy-2-copy w-list-unstyled">
          <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
            <p class="paragraph-23-copy">Психологическая помощь<br></p>
          </li>
          <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
            <p class="paragraph-23-copy">Сопровождение и вывод из кризисных периодов</p>
          </li>
        </ul>
        <div class="div-block-70"></div>
      </div>
      <div class="drs1_content">
        <h2 f_text="ФИО" class="drsubpage-title drsmaller">Виктория Мышкина<br></h2>
        <h4 f_text="Описание под ФИО" class="drsubpage-title-copy-copy-copy-copy drsmaller">Кризисный психолог<br>Семейный психолог<br>Иппотерапевт, анималотерапевт<br></h4><a href="#" class="drbutton-4-copy-copy-copy-copy-2 w-button">Услуги</a><a href="#" class="drbutton-6 w-button">связатсья со мной</a></div>
    </div>
  </div>
  <div f_layout="Основные Направления" class="drlogos drtint">
    <div class="drsmall-section-title-3">основные направления</div>
    <div class="drlogos-row w-row">
      <div class="drlogo-column w-col w-col-2 w-col-small-6 w-col-tiny-6 w-col-medium-4"><img src="images/5edb891aa4ed682fa2f26f62_picto_01.png" alt="" class="drclient-logo-2">
        <div class="drtext-block-7">Зависимости</div>
        <div class="drtext-block-8">нарко- и алкозависимости</div>
      </div>
      <div class="drlogo-column w-col w-col-2 w-col-small-6 w-col-tiny-6 w-col-medium-4"><img src="images/5ee482261f082100edbfbe57_01_logo-google.png" alt="" class="drclient-logo-2">
        <div class="drtext-block-7">Созависимости</div>
        <div class="drtext-block-8">любого типа и сложности</div>
      </div>
      <div class="drlogo-column w-col w-col-2 w-col-small-6 w-col-tiny-6 w-col-medium-4"><img src="images/5ee482261f08216f94bfbe5a_03_Logo-spotify.png" alt="" class="drclient-logo-2">
        <div class="drtext-block-7">Эмоциональное</div>
        <div class="drtext-block-8">профессиональное выгорание</div>
      </div>
      <div class="drlogo-column w-col w-col-2 w-col-small-6 w-col-tiny-6 w-col-medium-4"><img src="images/5edb891aa4ed68ff6bf26f61_picto_04.png" alt="" class="drclient-logo-2">
        <div class="drtext-block-7">Разводы</div>
        <div class="drtext-block-8">и доразводные сложные периоды</div>
      </div>
      <div class="drlogo-column w-col w-col-2 w-col-small-6 w-col-tiny-6 w-col-medium-4"><img src="images/5ee482261f0821f329bfbe5d_04_Logo-skype.png" alt="" class="drclient-logo-2">
        <div class="drtext-block-7">Семейные</div>
        <div class="drtext-block-8">конфликты в паре и с детьми</div>
      </div>
      <div class="drlogo-column w-col w-col-2 w-col-small-6 w-col-tiny-6 w-col-medium-4"><img src="images/5ee482261f0821536ebfbe60_02_logo-netflix.png" alt="" class="drclient-logo-2">
        <div class="drtext-block-7">Работа со</div>
        <div class="drtext-block-8">стрессом, паникой, страхами</div>
      </div>
    </div>
  </div>
  <div f_layout="Обо мне" class="drabout-3">
    <div class="drabout-me-2">
      <div class="drdiv-block-43">
        <div class="drtext-block-5-copy-copy-copy-4">Обо мне</div><img src="images/5ee482261f082118afbfbe6a_logo-rostok.png" alt="" class="image-2-copy-copy-copy-copy-copy-copy"></div>
      <div class="drabout-me-stas-copy-2 w-clearfix">
        <div class="drproject1-img1-copy-3"></div>
        <div class="drproject1-text1-2 w-clearfix">
          <div class="drabout-me-text">
            <div class="drsection-title-wrapper drfull">
              <h2 class="drsection-title-8">Виктория Мышкина</h2>
            </div>
            <p class="drintro-paragraph-4">Я — кризисный семейный психолог, 20 лет практического опыта в психологии.</p>
            <p class="drabout-paragraf dr1">Основная специализация — это работа со сложными случаями и нестандартными ситуациями, пограничными состояниями. <br><br>Оказываю комплексную психологическую помощь, в том числе и онлайн. Основные направления:<br></p>
            <ul role="list" class="drchecklist-copy-2 w-list-unstyled">
              <li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
                <p class="paragraph-23">Работа с алко- и наркозависимыми, а также психологическая помощь их семьям.</p>
              </li>
              <li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
                <p class="paragraph-23">Психологическое сопровождение при разводе, семейных проблемах, конфликтах, в том числе и с детьми.</p>
              </li>
              <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                <p class="paragraph-23">Помощь близким, у которых в семье есть труднобольные или дети с особенными потребностями.</p>
              </li>
              <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                <p class="paragraph-23">Оперативная разовая или системная работа со стрессом, паникой, страхами и эмоциональным выгоранием (профессиональное выгорание).</p>
              </li>
            </ul><a href="#" class="drbutton-4-copy-copy dr2 w-button">подробнее обо мне</a></div>
        </div>
      </div>
      <div f_layout="Пиктограммы" class="drabout-pictogram-3">
        <div class="drdiv-block-16">
          <div class="drfeatures-row-3 w-row">
            <div class="drfeature-column-2 w-col w-col-3 w-col-medium-6 w-col-small-6 w-col-tiny-6">
              <div class="drfeature-block-2"><img src="images/5ee7ee168acaeb46cc1a4b0a_camera-3.png" alt="" class="drclient-logo-copy">
                <h2 class="drheading-13">20 лет<br>опыта</h2>
                <p class="drparagraph-11">В семейной и кризисной терапии</p>
              </div>
            </div>
            <div class="drfeature-column-2 w-col w-col-3 w-col-medium-6 w-col-small-6 w-col-tiny-6">
              <div class="drfeature-block-2"><img src="images/5ee7ee168acaeb46cc1a4b0a_camera-3.png" alt="" class="drclient-logo-copy">
                <h2 class="drheading-13">Автор<br>книги<br></h2>
                <p class="drparagraph-11">«10 секретов успеха» под псевдонимом А. Джексон</p>
              </div>
            </div>
            <div class="drfeature-column-2 w-col w-col-3 w-col-medium-6 w-col-small-6 w-col-tiny-6">
              <div class="drfeature-block-2"><img src="images/5ee7ee168acaeb46cc1a4b0a_camera-3.png" alt="" class="drclient-logo-copy">
                <h2 class="drheading-13">Фильм<br>«Иные»</h2>
                <p class="drparagraph-11">Автор идеи и консультант к фильму про аутизм</p>
              </div>
            </div>
            <div class="column-5 w-col w-col-3 w-col-medium-6 w-col-small-6 w-col-tiny-6">
              <div class="drfeature-block-2"><img src="images/5ee7ee168acaeb46cc1a4b0a_camera-3.png" alt="" class="drclient-logo-copy">
                <h2 class="drheading-13">Лидер</h2>
                <div class="drfeature-title-4">и организатор</div>
                <p class="drparagraph-11">мероприятий по теме психологии, иппотерапии</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div f_layout="Деятельность" class="drproject-2-2">
    <div class="drdiv-block-19-copy-copy-copy-copy">
      <div class="drdiv-block-43">
        <div class="drtext-block-5-copy-copy-3">Услуги</div>
      </div>
      <h2 class="drsection-title-7">Психологические консультации</h2><img src="images/5ee482261f082118afbfbe6a_logo-rostok.png" alt="" class="image-2-copy-copy-copy-copy-copy"></div>
    <div class="drbloki-2">
      <div class="drdiv-block-46">
        <div class="drdiv-block-34 w-clearfix">
          <div class="pic-proect-1-copy"></div>
          <div class="project1-text1-copy-copy-3 w-clearfix">
            <div class="drcontent-section-block-2">
              <div class="drsection-title-wrapper drfull">
                <h2 class="drsection-title-8 dr1">Алко- и наркозависимым</h2>
              </div>
              <p class="drintro-paragraph-4">Психологическая помощь и консультирование</p>
              <p class="drabout-paragraf dr1">А также психологическое сопровождение алко- и наркозависимых на разных стадиях. В зависимости от стадии решаем соответствующие задачи:</p>
              <ul role="list" class="drchecklist-copy-2 w-list-unstyled">
                <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" width="15" alt="" class="drcheck-icon"></li>
                <li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
                  <p class="paragraph-23">Устраняем причину и повод к употреблению</p>
                </li>
                <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                  <p class="paragraph-23">Работаем над уменьшением дозы и срывами</p>
                </li>
                <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                  <p class="paragraph-23">Закрепляем полезные методики и практики</p>
                </li>
                <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                  <p class="paragraph-23">Работаем с психологическими проблемами</p>
                </li>
              </ul><a href="#" class="button-4-copy-copy-copy dr2 w-button">подробнее</a><a href="#" class="drbutton-4-copy dr2 w-button">связаться</a></div>
          </div>
        </div>
        <div class="drdiv-block-35">
          <div class="drdiv-block-34 w-clearfix">
            <div class="pic-proect-2-copy"></div>
            <div class="project1-text1-copy-copy-3 w-clearfix">
              <div class="drcontent-section-block-2">
                <div class="drsection-title-wrapper drfull">
                  <h2 class="drsection-title-8 dr1">Родственникам с алко- или наркозависимыми</h2>
                </div>
                <p class="drintro-paragraph-4">Психологическая помощь, поддержка и консультирование<br></p>
                <p class="drabout-paragraf dr1">А также практические рекомендации и методики. Помощь в вопросах психологического и социального характера:</p>
                <ul role="list" class="drchecklist-copy-2 w-list-unstyled">
                  <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                    <p class="paragraph-23">С взаимодействием с таким зависимым</p>
                  </li>
                  <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                    <p class="paragraph-23">Личной десоциализации из-за зависимого</p>
                  </li>
                  <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                    <p class="paragraph-23">психологического и социального характера</p>
                  </li>
                  <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                    <p class="paragraph-23">Помощь при эмоциональном выгорании</p>
                  </li>
                </ul><a href="#" class="button-4-copy-copy-copy dr2 w-button">подробнее</a><a href="#" class="drbutton-4-copy dr2 w-button">связаться</a></div>
            </div>
          </div>
        </div>
        <div class="drdiv-block-34">
          <div class="drdiv-block-34">
            <div class="drdiv-block-34 w-clearfix">
              <div class="pic-proect-3-copy"></div>
              <div class="project1-text1-copy-copy-3 w-clearfix">
                <div class="drcontent-section-block-2">
                  <div class="drsection-title-wrapper drfull">
                    <h2 class="drsection-title-8 dr1">Родственникам, у которых в семье есть труднобольные</h2>
                  </div>
                  <p class="drintro-paragraph-4">В тяжелом периоде, неизлечимые</p>
                  <p class="drabout-paragraf-copy dr1">Психологическая помощь и вывод из:</p>
                  <ul role="list" class="drchecklist-copy-2 w-list-unstyled">
                    <li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">страхов и обреченности, фатализма,</p>
                    </li>
                    <li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">фатализма и депрессивного состояния</p>
                    </li>
                    <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">эмоциональной перенагрузки и опустошения</p>
                    </li>
                    <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">туннельного восприятия ситуации и жизни в целом</p>
                    </li>
                    <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">Выход на переосмысление ситуации и себя в ней, своей роли.</p>
                    </li>
                    <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">Освоение новых стратегий мышления и поведения.</p>
                    </li>
                  </ul><a href="#" class="button-4-copy-copy-copy dr2 w-button">подробнее</a><a href="#" class="drbutton-4-copy dr2 w-button">связаться</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="drdiv-block-34">
          <div class="drdiv-block-34">
            <div class="drdiv-block-34 w-clearfix">
              <div class="pic-proect-4-copy"></div>
              <div class="project1-text1-copy-copy-3 w-clearfix">
                <div class="drcontent-section-block-2">
                  <div class="drsection-title-wrapper drfull">
                    <h2 class="drsection-title-8 dr1">Родителям, у которых есть дети с особенными потребностями</h2>
                  </div>
                  <p class="drabout-paragraf dr1">Например такими как ДЦП, расстройство аутичного спектра, с отставанием в развитии психическим и / или физическим.<br>‍<br>У которых есть проблемы с речью, распознаванием эмоций. Отсутствие эмпатии, нарушение моторики, гиперактивность и другие особенности.</p>
                  <p class="drabout-paragraf-copy dr1">Помощь родителям:</p>
                  <ul role="list" class="drchecklist-copy-2 w-list-unstyled">
                    <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">в пересмотре восприятия самой ситуации и формата их собственной жизни</p>
                    </li>
                    <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">с практиками в домашних условиях для социализации детей и создания для них развивающей среды.</p>
                    </li>
                  </ul><a href="#" class="button-4-copy-copy-copy dr2 w-button">подробнее</a><a href="#" class="drbutton-4-copy dr2 w-button">связаться</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="drdiv-block-34">
          <div class="drdiv-block-34">
            <div class="drdiv-block-34 w-clearfix">
              <div class="pic-proect-5-copy"></div>
              <div class="project1-text1-copy-copy-3 w-clearfix">
                <div class="drcontent-section-block-2">
                  <div class="drsection-title-wrapper drfull">
                    <h2 class="drsection-title-8 dr1">За что еще тебе можно заплатить?</h2>
                  </div>
                  <p class="drintro-paragraph-4">В тяжелом периоде, неизлечимые</p>
                  <p class="drabout-paragraf-copy dr1">Психологическая помощь и вывод из:</p>
                  <ul role="list" class="drchecklist-copy-2 w-list-unstyled">
                    <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">страхов и обреченности, фатализма,</p>
                    </li>
                    <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">фатализма и депрессивного состояния</p>
                    </li>
                    <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">эмоциональной перенагрузки и опустошения</p>
                    </li>
                    <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">туннельного восприятия ситуации и жизни в целом</p>
                    </li>
                    <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">Выход на переосмысление ситуации и себя в ней, своей роли.</p>
                    </li>
                    <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">Освоение новых стратегий мышления и поведения.</p>
                    </li>
                  </ul><a href="#" class="button-4-copy-copy-copy dr2 w-button">подробнее</a><a href="#" class="drbutton-4-copy dr2 w-button">связаться</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="drdiv-block-34">
          <div class="drdiv-block-34">
            <div class="drdiv-block-34 w-clearfix">
              <div class="pic-proect-6-copy"></div>
              <div class="project1-text1-copy-copy-3 w-clearfix">
                <div class="drcontent-section-block-2">
                  <div class="drsection-title-wrapper drfull">
                    <h2 class="drsection-title-8 dr1">За что еще тебе можно заплатить?</h2>
                  </div>
                  <p class="drintro-paragraph-4">В тяжелом периоде, неизлечимые</p>
                  <p class="drabout-paragraf-copy dr1">Психологическая помощь и вывод из:</p>
                  <ul role="list" class="drchecklist-copy-2 w-list-unstyled">
                    <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">страхов и обреченности, фатализма,</p>
                    </li>
                    <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">фатализма и депрессивного состояния</p>
                    </li>
                    <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">эмоциональной перенагрузки и опустошения</p>
                    </li>
                    <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">туннельного восприятия ситуации и жизни в целом</p>
                    </li>
                    <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">Выход на переосмысление ситуации и себя в ней, своей роли.</p>
                    </li>
                    <li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" alt="" class="drcheck-icon">
                      <p class="paragraph-23">Освоение новых стратегий мышления и поведения.</p>
                    </li>
                  </ul><a href="#" class="button-4-copy-copy-copy dr2 w-button">подробнее</a><a href="#" class="drbutton-4-copy dr2 w-button">связаться</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="image-section quote">
    <div class="image-section-overlay">
      <div class="container w-container">
        <div class="image-section-overlay-block">
          <div class="image-section-overlay-title">Первичную консультацию провожу бесплатно</div>
          <div class="image-section-overlay-title subtitle">Для знакомства с вами, анализа вашей ситуации и построения плана действий</div>
        </div>
      </div>
    </div>
  </div>
  <div f_layout="Что еще делаю" class="section-3-copy-copy-copy-copy-copy drtint">
    <div class="drcontainer-4 drcentered w-container">
      <div class="drdiv-block-19-copy-copy">
        <div class="drdiv-block-19-copy-copy-copy">
          <div class="drtext-block-5-copy-copy-copy-3">Дополнительные направления</div>
        </div>
      </div>
      <div class="numbers">
        <h2 class="drsection-title-7">Также предлагаю</h2>
      </div>
      <div class="div-block-58"><a href="#" class="color-block-copy-4 w-inline-block"><div class="div-block-51-copy"><div class="pic1"></div><div class="div-block-65"><div class="color-block-title-5">Анималотерапия</div><p class="color-block-paragraph-4">olor sit amet, consectetur adipiscing elit. Suspendisse varius eniolor sit amet, consectetur adipiscing elit. Suspendisse varius eni</p></div></div><div class="div-block-38-copy-3"><div class="div-block-39-copy-copy-3"><div class="text-block-11-copy-copy-3">подробнее</div></div><div class="div-block-66"><div class="text-block-11-copy-copy-4">Заказать</div></div></div></a><a href="#" class="color-block-copy-4 w-inline-block"><div class="div-block-51-copy"><div class="pic2"></div><div class="div-block-65"><div class="color-block-title-5">Арт-терапия</div><p class="color-block-paragraph-4">olor sit amet, consectetur adipiscing elit. Suspendisse varius eniolor sit amet, consectetur adipiscing elit. Suspendisse varius eni</p></div></div><div class="div-block-38-copy-3"><div class="div-block-39-copy-copy-3"><div class="text-block-11-copy-copy-3">подробнее</div></div><div class="div-block-66"><div class="text-block-11-copy-copy-4">Заказать</div></div></div></a><a href="#" class="color-block-copy-4 w-inline-block"><div class="div-block-51-copy"><div class="div-block-66-copy-copy"></div><div class="div-block-65"><div class="color-block-title-5">Сказкотерапия</div><p class="color-block-paragraph-4">olor sit amet, consectetur adipiscing elit. Suspendisse varius eniolor sit amet, consectetur adipiscing elit. Suspendisse varius eni</p></div></div><div class="div-block-38-copy-3"><div class="div-block-39-copy-copy-3"><div class="text-block-11-copy-copy-3">подробнее</div></div><div class="div-block-66"><div class="text-block-11-copy-copy-4">Заказать</div></div></div></a></div>
    </div>
  </div>
  <div f_layout="Что вы можете купить у меня" class="drprizyv drtint">
    <div class="drcontainer-4 drcentered w-container">
      <h2 class="drsection-title-copy-copy-copy-copy-2">Буду рада видеть вас в кругу единомышленников и быть вам полезной.<br>Присоединяйтесь!<br>Facebook</h2>
    </div>
  </div>
  <div class="review-copy">
    <div class="drdiv-block-19-copy-copy-copy-copy">
      <div class="drdiv-block-43">
        <div class="drtext-block-5-copy-copy-3">Подробнее</div>
      </div>
      <h2 class="drsection-title-7">Обо мне и моей работе</h2><img src="images/5ee482261f082118afbfbe6a_logo-rostok.png" alt="" class="image-2-copy-copy-copy-copy-copy"></div>
    <div class="container-2 w-container">
      <div data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
        <div class="tabs-menu w-tab-menu"><a data-w-tab="User Interface" class="tabs-menu-link tabs-menu-link-first w-inline-block w-tab-link w--current"><div>Опыт и образование</div></a><a data-w-tab="Concept" class="tabs-menu-link w-inline-block w-tab-link"><div>Мой подход</div></a><a data-w-tab="Consulting" class="tabs-menu-link w-inline-block w-tab-link"><div>Порядок работы и цены</div></a><a data-w-tab="Concept 2" class="tabs-menu-link tabs-menu-linklast w-inline-block w-tab-link"><div>Отзывы</div></a></div>
        <div class="tabs-content w-tab-content">
          <div data-w-tab="User Interface" class="w-tab-pane w--tab-active">
            <div class="accordion-item">
              <div class="accordion-item-trigger">
                <h4 class="accordion-heading"><strong class="bold-text">Как кризисный психолог</strong></h4>
                <div class="icon-2 accordion-icon">keyboard_arrow_down</div>
              </div>
              <div class="accordion-item-content">
                <p class="paragraph-6-copy"><strong>Кризисный семейный психолог</strong> в <a href="#">Кризисный психолог Виктория Мышкина</a><br><strong>Психотерапевт, семейный психолог</strong> в "Equides club"<br><strong>Кризисный психолог</strong> в Клиниках для зависимых<br><strong>Психолог</strong> Школы "Життя" для детей с особенными потребностями<br><strong>Участник конференции </strong>"Кондуктивная педагогика. Метод Петьо", Институт Петьо.</p>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-item-trigger">
                <h4 class="accordion-heading"><strong class="bold-text">Как анималотерапевт</strong></h4>
                <div class="icon-2 accordion-icon">keyboard_arrow_down</div>
              </div>
              <div class="accordion-item-content">
                <p class="paragraph-6-copy">Психолог, консультации в Кризисный психолог Виктория Мышкина<br>Психотерапевт, семейный психолог в "Equides club"<br>Кризисный психолог в Клиниках для зависимых<br>Психолог Школы "Життя" для детей с особенными потребностями<br>Институт Петьо. Участник конференции "Кондуктивная педагогика. Метод Петьо"</p>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-item-trigger">
                <h4 class="accordion-heading"><strong class="bold-text">Профессиональные достижения</strong></h4>
                <div class="icon-2 accordion-icon">keyboard_arrow_down</div>
              </div>
              <div class="accordion-item-content">
                <p class="paragraph-6-copy-copy">Психолог, консультации в Кризисный психолог Виктория Мышкина</p>
                <p class="paragraph-6-copy">Психолог, консультации в Кризисный психолог Виктория Мышкина<br>Психотерапевт, семейный психолог в "Equides club"<br>Кризисный психолог в Клиниках для зависимых<br>Психолог Школы "Життя" для детей с особенными потребностями<br>Институт Петьо. Участник конференции "Кондуктивная педагогика. Метод Петьо"</p>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-item-trigger">
                <h4 class="accordion-heading"><strong class="bold-text">Образование</strong></h4>
                <div class="icon-2 accordion-icon">keyboard_arrow_down</div>
              </div>
              <div class="accordion-item-content">
                <p class="paragraph-6-copy"><strong>Одесский национальный медицинский университет</strong><br>Изучала ВНД человека, диплом на базе кафедры психиатрии<br><br><strong>Одесскийнациональный университет имени И. И. Мечникова</strong><br>Изучала кафедра психологии, кафедра физиологии человека и животных<br><br><strong>Стэнфордский университет<br>‍</strong>Изучала курс " Биология поведения человека"</p>
              </div>
            </div>
          </div>
          <div data-w-tab="Concept" class="w-tab-pane">
            <div class="accordion-item">
              <div class="accordion-item-trigger">
                <h4 class="accordion-heading"><strong class="bold-text">Профессиональный опыт</strong></h4>
                <div class="icon-2 accordion-icon">keyboard_arrow_down</div>
              </div>
              <div class="accordion-item-content">
                <p class="paragraph-6-copy-copy">Психолог, консультации в Кризисный психолог Виктория Мышкина</p>
                <p class="paragraph-6-copy">Психолог, консультации в Кризисный психолог Виктория Мышкина<br>Психотерапевт, семейный психолог в "Equides club"<br>Кризисный психолог в Клиниках для зависимых<br>Психолог Школы "Життя" для детей с особенными потребностями<br>Институт Петьо. Участник конференции "Кондуктивная педагогика. Метод Петьо"</p>
              </div>
            </div>
          </div>
          <div data-w-tab="Consulting" class="w-tab-pane">
            <div class="accordion-item">
              <div class="accordion-item-trigger">
                <h4 class="accordion-heading"><strong class="bold-text">Пошаговый план моей работы с вами</strong></h4>
                <div class="icon-2 accordion-icon">keyboard_arrow_down</div>
              </div>
              <div class="accordion-item-content">
                <p class="paragraph-6-copy"><strong>1. Знакомство и обсуждение проблемы<br></strong>Это первичная консультация - бесплатная. <br>На ней происходит наше с вами знакомство, обсуждение проблемной ситуации, конкретизация вашего запроса. Я предлагаю варианты, ориентирую по стоимости и рассказываю схему работы.  За вами остается принятие решения.<br><br><strong>2. Углубленная диагностика и тестирование согласно вашему случаю<br></strong>Погружение и углубленное изучение вашей ситуации, личности и психотипа. Выявление корневых причин психологической проблемы в сложившейся ситуации и причины самой ситуации.<br><br><strong>3. Детальный план по выходу из кризисной ситуации<br></strong>Проработка стратегии и подбор для вас наиболее эффективных техник, в том числе и из арсенала личных авторских методик. Для каждого конкретного случая я разрабатываю индивидуальный подход.<br><br><strong>4. Психологическая проработка и освоение новых стратегий поведения<br></strong>Работа с вашими внутренними и внешними состояниями через работу с сознанием и подсознанием. Что выводит на переосмысление ситуации и себя в ней, а также построение и освоение новых сценариев поведения.<br><br><strong>5. Внедрение новых навыков поведения в повседневную жизнь, их системное закрепление.<br></strong>На протяжении всего периода сопровождения я держу постоянную связь с вами и контролирую ситуацию и ваши успехи. <br><br><strong>Вы всегда можете расчитывать на мою оперативную помощь и поддержку.</strong></p>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-item-trigger">
                <h4 class="accordion-heading"><strong class="bold-text">Стоимость консультаций</strong></h4>
                <div class="icon-2 accordion-icon">keyboard_arrow_down</div>
              </div>
              <div class="accordion-item-content">
                <p class="paragraph-6-copy"><strong>Продолжительность консультации - 1 час (60 мин.)<br></strong>Первичная консультация -<strong> Бесплатно.<br><br>Пакеты<br>‍</strong>Из 3-х консультаций - <strong>38 $</strong> за консультацию.<br>Из 8-ми консультаций - <strong>35 $ </strong>за консультацию.<br><br><strong>1 консультация - 50 $</strong><br></p>
              </div>
            </div>
          </div>
          <div data-w-tab="Concept 2" class="w-tab-pane">
            <div class="accordion-item">
              <div class="accordion-item-trigger">
                <h4 class="accordion-heading"><strong class="bold-text">Профессиональный опыт</strong></h4>
                <div class="icon-2 accordion-icon">keyboard_arrow_down</div>
              </div>
              <div class="accordion-item-content">
                <p class="paragraph-6-copy-copy">Психолог, консультации в Кризисный психолог Виктория Мышкина</p>
                <p class="paragraph-6-copy">Психолог, консультации в Кризисный психолог Виктория Мышкина<br>Психотерапевт, семейный психолог в "Equides club"<br>Кризисный психолог в Клиниках для зависимых<br>Психолог Школы "Життя" для детей с особенными потребностями<br>Институт Петьо. Участник конференции "Кондуктивная педагогика. Метод Петьо"</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div f_layout="Что вы можете купить у меня" class="drprizyv drtint">
    <div class="drcontainer-4 drcentered w-container">
      <h2 class="drsection-title-copy-copy-copy-copy-2">Что вы можете купить у меня</h2>
    </div>
  </div>
  <div f_layout="Что еще делаю" class="section-3-copy-copy-copy-copy-copy drtint">
    <div class="drcontainer-4 drcentered w-container">
      <div class="drdiv-block-19-copy-copy">
        <div class="drdiv-block-19-copy-copy-copy">
          <div class="drtext-block-5-copy-copy-copy-3">Галерея</div>
        </div>
      </div>
    </div>
    <div class="container-8 w-container">
      <div class="section-title-wrapper">
        <h2 class="section-title-7">Галерея</h2>
        <div class="section-description-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</div>
      </div><a href="#" class="gallery-lightbox-3 w-inline-block w-lightbox"><div data-ix="show-gallery-overlay" class="gallery-image-block-2"><div data-ix="hide-gallery-overlay" class="gallery-overlay-block"><div class="gallery-overlay-icon"><img src="images/5ee522dcd8ba882e06e0f63a_Icon-eye.png" alt="" class="view-icon"></div></div><div data-animation="slide" data-duration="500" data-infinite="1" class="w-slider"><div class="w-slider-mask"><div class="slide-3 w-slide"></div></div><div class="w-slider-arrow-left"><div class="w-icon-slider-left"></div></div><div class="w-slider-arrow-right"><div class="w-icon-slider-right"></div></div><div class="w-slider-nav w-round"></div></div></div><script type="application/json" class="w-json">{"items":[{"cdnUrl":"https:\/\/uploads-ssl.webflow.com\/5ee522dc175d3332866a4461\/5ee522dcd8ba881076e0f616_Photo-10.jpg","width":2000,"height":1333,"fileName":"Photo-10.jpg","origFileName":"Photo-10.jpg","url":"images\/5ee522dcd8ba881076e0f616_Photo-10.jpg","_id":"56ec31df0dae34de1768b5b9","type":"image","fileSize":561075}]}</script></a>
      <div class="gallery-row w-row">
        <div class="bottom-gallery-column-left w-col w-col-6 w-col-small-6 w-col-tiny-6"><a href="#" class="gallery-lightbox-3 w-inline-block w-lightbox"><div data-ix="show-gallery-overlay" class="gallery-image-block-2 _2"><div data-ix="hide-gallery-overlay" class="gallery-overlay-block"><div class="gallery-overlay-icon"><img src="images/5ee522dcd8ba882e06e0f63a_Icon-eye.png" alt="" class="view-icon"></div></div></div><script type="application/json" class="w-json">{"items":[{"cdnUrl":"https:\/\/uploads-ssl.webflow.com\/5ee522dc175d3332866a4461\/5ee522dcd8ba88ce84e0f688_Photo-3.jpg","width":2000,"height":1333,"fileName":"5ee522dcd8ba88ce84e0f688_Photo-3.jpg","origFileName":"Photo-3.jpg","url":"images\/5ee522dcd8ba88ce84e0f688_Photo-3.jpg","_id":"56ebfeb571015fb5173a3a8d","type":"image","fileSize":460681}]}</script></a></div>
        <div class="bottom-gallery-column-right w-col w-col-6 w-col-small-6 w-col-tiny-6"><a href="#" class="gallery-lightbox-3 w-inline-block w-lightbox"><div data-ix="show-gallery-overlay" class="gallery-image-block-2 _3"><div data-ix="hide-gallery-overlay" class="gallery-overlay-block"><div class="gallery-overlay-icon"><img src="images/5ee522dcd8ba882e06e0f63a_Icon-eye.png" alt="" class="view-icon"></div></div><div data-animation="slide" data-duration="500" data-infinite="1" class="w-slider"><div class="w-slider-mask"><div class="slide-5 w-slide"></div><div class="slide-6 w-slide"></div></div><div class="w-slider-arrow-left"><div class="w-icon-slider-left"></div></div><div class="w-slider-arrow-right"><div class="w-icon-slider-right"></div></div><div class="w-slider-nav w-round"></div></div></div><script type="application/json" class="w-json">{"items":[{"cdnUrl":"https:\/\/uploads-ssl.webflow.com\/5ee522dc175d3332866a4461\/5ee522dcd8ba882787e0f690_Z-1.jpg","width":1700,"height":1133,"fileName":"5ee522dcd8ba882787e0f690_Person-27.jpg","origFileName":"Person-27.jpg","url":"images\/5ee522dcd8ba882787e0f690_Z-1.jpg","_id":"56ded56e076ef85e43f6f8ce","type":"image","fileSize":169098}]}</script></a></div>
      </div>
    </div>
  </div>
  <div class="subpage-header contact-1">
    <div class="container-4 w-container">
      <div data-ix="fade-in-on-load-2" class="white-contact-form w-form">
        <form id="wf-form-Email-Form-2" name="wf-form-Email-Form-1" data-name="Email Form 1">
          <h1 class="form-title">Напишите мне</h1>
          <h2 class="form-title subtitle">Do you have a question? Contact us now!</h2><label for="name" class="field-label">Name:</label><input type="text" id="name" name="name" data-name="Name" maxlength="256" class="field rounded w-input"><label for="Email" class="field-label">Email address:</label><input type="email" id="Email" name="Email" data-name="Email" maxlength="256" required="" class="field rounded w-input"><label for="Message" class="field-label">Your message:</label><textarea id="Message" name="Message" maxlength="5000" data-name="Message" class="field rounded area w-input"></textarea><a href="#" class="button-4-copy-copy-copy-copy dr2 w-button">отправить</a></form>
        <div class="success-message w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="error-bg w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="contact-info-block-right">
        <div data-ix="fade-in-on-load-3" class="contact-info-block">
          <div class="contact-info-small-block">
            <div class="small-contact-info-title">Email</div>
            <p class="contact-info-description">info@startuptemplate.com</p>
          </div>
          <div class="contact-info-small-block">
            <div class="small-contact-info-title">Phone number</div>
            <p class="contact-info-description">433-0338-204</p>
          </div>
          <div class="contact-info-small-block">
            <div class="small-contact-info-title">Our Location</div>
            <p class="contact-info-description">32 Wisconsin Road<br>DA54 5ND, Berlin, Germany</p>
          </div>
          <div class="contact-info-small-block">
            <div class="small-contact-info-title">Support</div>
            <p class="contact-info-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact-section">
  <div class="contact-section-overlay">
    <div class="container centered w-container">
      <div class="section-title-wrapper">
        <h2 class="section-title">Связаться со мной</h2>
        <div class="section-description">www.facebook.com/olka.ples<br>+32 403 345 382<br>info@dreamgrower.com.ua</div>
      </div><a href="http://www.facebook.com" target="_blank" class="outline-social-icon w-inline-block"><img src="images/5eb7e5adf6d8404365d02546_Icon-facebook.png" alt="" class="footer-small-social-icon"></a><a href="http://www.twitter.com" target="_blank" class="outline-social-icon w-inline-block"><img src="images/5eb7e5adf6d8407e34d025a3_Icon-twitter.png" alt="" class="footer-small-social-icon"></a><a href="http://www.google.com" target="_blank" class="outline-social-icon w-inline-block"><img src="images/5eb7e5adf6d8406a3bd0258c_Icon-google.png" alt="" class="footer-small-social-icon"></a></div>
  </div>
</div>
<div class="simple-footer">
  <div class="container w-container">
    <div class="footer-row w-row">
      <div class="footer-logo-column-left w-col w-col-3">
        <div class="footer-logo">Dream grower</div>
        <div class="footer-logo subtitle">Познай себя и измени жизнь!</div>
      </div>
      <div class="footer-menu-column w-col w-col-6"><a href="#" class="footer-inline-link">Главная</a><a href="#" class="footer-inline-link">обо мне</a><a href="#" class="footer-inline-link">проекты</a><a href="#" class="footer-inline-link">мечты</a><a href="#" class="footer-inline-link">купи у меня</a></div>
      <div class="footer-social-col-right w-col w-col-3"><a href="http://www.facebook.com" target="_blank" class="footer-social-icon w-inline-block"><img src="images/5eb7e5adf6d8404365d02546_Icon-facebook.png" alt="" class="footer-small-social-icon"></a><a href="http://www.twitter.com" target="_blank" class="footer-social-icon w-inline-block"><img src="images/5eb7e5adf6d8407e34d025a3_Icon-twitter.png" alt="" class="footer-small-social-icon"></a><a href="http://www.google.com" target="_blank" class="footer-social-icon w-inline-block"><img src="images/5eb7e5adf6d8406a3bd0258c_Icon-google.png" alt="" class="footer-small-social-icon"></a></div>
    </div>
  </div>
  <div class="simple-bottom-footer">
    <div class="container w-container">
      <p class="bottom-footer-paragraph"><strong data-new-link="true">Copyright © Dream Grower</strong> - Images used for demonstration purpose only (<a href="#" class="bottom-footer-link">Licenses</a>)</p>
      <p class="bottom-footer-paragraph right">Разработка сайта - Dream Grower<a target="_blank" href="https://webflow.com/templates/designers/rowan-hartsuiker" class="bottom-footer-link"></a></p>
    </div>
  </div>
</div>
<div data-autoplay="true" data-loop="true" data-wf-ignore="true" data-poster-url="https://uploads-ssl.webflow.com/56dd3343eca9ebfc21add331/56ded4d52f77f77d1ff7baf4_abcd-poster-00001.png" data-video-urls="https://uploads-ssl.webflow.com/5ece3e6226790561abbb61a3/5ece4454f664a36e7681ce7d_abcd-transcode.mp4,https://uploads-ssl.webflow.com/5ece3e6226790561abbb61a3/5ece4454f664a36e7681ce7d_abcd-transcode.webm" class="hero-background-video-2 w-background-video w-background-video-atom">
  <video autoplay="" loop="" style='background-image:url("https://uploads-ssl.webflow.com/56dd3343eca9ebfc21add331/56ded4d52f77f77d1ff7baf4_abcd-poster-00001.png")' muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
    <source src="https://uploads-ssl.webflow.com/5ece3e6226790561abbb61a3/5ece4454f664a36e7681ce7d_abcd-transcode.mp4" data-wf-ignore="true"></source>
    <source src="https://uploads-ssl.webflow.com/5ece3e6226790561abbb61a3/5ece4454f664a36e7681ce7d_abcd-transcode.webm" data-wf-ignore="true"></source>
  </video>
</div>
<!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
<!-- FOOTER CODE -->
<script type="text/javascript">$(document).ready(function(){$('[href*="brandjs"],.w-webflow-badge').attr('style', 'display:none !important');$('a[href="'+window.location.href+'"]').addClass('w--current');});</script>
