<div data-collapse="tiny" data-animation="default" data-duration="100" role="banner" class="drnavbar-4-copy-4 w-nav">
			<div class="drs1_content-copy">
				<nav role="navigation" class="drnav-menu-2 w-nav-menu"><a href="#" class="drnav-link drlight w-nav-link">главная</a><a href="#" class="drnav-link drlight w-nav-link">обо мне</a><a href="#" class="drnav-link drlight w-nav-link">Деятельность</a><a href="#" class="drnav-link drlight w-nav-link">купить</a>
					<div data-delay="0" class="drdropdown w-dropdown">
						<div class="drnav-link drdropdown-toggle drlight w-dropdown-toggle">
							<div class="text-block-16">мечты и цели</div>
							<div class="drdropdown-icon w-icon-dropdown-toggle"></div>
						</div>
						<nav class="drdropdown-list w-dropdown-list"><a href="#" class="drdropdown-link w-dropdown-link">Pricing #1</a><a href="#" class="drdropdown-link w-dropdown-link">Pricing #2</a><a href="#" class="drdropdown-link w-dropdown-link">Pricing #3</a><a href="#" class="drdropdown-link w-dropdown-link">Pricing #4</a><a href="#" class="drdropdown-link w-dropdown-link">Pricing #5</a></nav>
					</div>
					<div data-delay="0" class="drdropdown w-dropdown">
						<div class="drnav-link drdropdown-toggle drlight w-dropdown-toggle">
							<div class="text-block-16">блог</div>
							<div class="drdropdown-icon w-icon-dropdown-toggle"></div>
						</div>
						<nav class="drdropdown-list w-dropdown-list"><a href="#" class="drdropdown-link w-dropdown-link">Blog Style #1</a><a href="#" class="drdropdown-link w-dropdown-link">Blog Style #2</a><a href="#" class="drdropdown-link w-dropdown-link">Blog Style #3</a></nav>
					</div><a href="#" class="drnav-link drlight w-nav-link">контакты</a></nav>
				<div class="drtransparant-menu-button-2 w-nav-button">
					<div class="icon-3 w-icon-nav-menu"></div>
				</div><a href="#" class="drlogo-block-2 w-nav-brand"><img src="images/5ee791ab668d3bef77ee0fbb_logo20DM-fin.png" alt="" class="drlogo-2"></a></div>
		</div>
		<div f_layouts="Секции" class="div-block-67">
			<div f_layout="Слайдер" class="drme-main-copy drabout-1">
				<div class="drs1_box-4">
					<div class="drs1_content-3">
						<h2 f_text="ФИО" class="drsubpage-title drsmaller">Анатолий Мышкин<br></h2>
						<h4 f_text="Описание под ФИО" class="drsubpage-title-copy-copy-copy-copy drsmaller">Сооснователь Dream Grower<br>IT разработчик, психоакустик<br>Предприниматель<br></h4>
					</div>
				</div>
				<div class="div-block-74">
					<ul role="list" class="drchecklist-copy-2-copy-2 w-list-unstyled">
						<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon-2">
							<p class="paragraph-23-copy-4">Создаю удобные инструменты для бизнеса (сбор и анализ данных)<br></p>
						</li>
						<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon-2">
							<p class="paragraph-23-copy-4">Предлагаю услуги по IT, автоматизации бизнес процессов<br></p>
						</li>
						<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon-2">
							<p class="paragraph-23-copy-4">Психоакустика и звукотерапия - для глубоких медитаций и психологических техник</p>
						</li>
					</ul>
					<div class="div-block-72"></div>
				</div>
			</div>
			<div class="div-block-76">
				<div class="drsmall-section-title-3">основные направления</div>
				<div f_layout="Основные Направления" class="drlogos drtint">
					<div class="drlogos-row w-row">
						<div class="drlogo-column w-col w-col-3"><a href="#" class="w-inline-block"><img src="images/5ee791ab668d3bef77ee0fbb_logo20DM-fin.png" alt="" class="drclient-logo-2"><div class="drtext-block-7">Dream Grower</div><div class="drtext-block-8">Платформа для самопознания, работы над собой и нетворкинга</div></a></div>
						<div class="drlogo-column w-col w-col-3"><a href="#" class="w-inline-block"><img src="images/5ef859042684212aef026615_head-3893711_1280.png" srcset="images/5ef859042684212aef026615_head-3893711_1280-p-500.png 500w, images/5ef859042684212aef026615_head-3893711_1280-p-800.png 800w, images/5ef859042684212aef026615_head-3893711_1280-p-1080.png 1080w, images/5ef859042684212aef026615_head-3893711_1280.png 1182w" sizes="(max-width: 991px) 36.9375px, 64.640625px" alt="" class="drclient-logo-2"><div class="drtext-block-7">Психоакустика</div><div class="drtext-block-8">Авторский проект<br>исследования и разработка</div></a></div>
						<div class="drlogo-column w-col w-col-3"><a href="#" class="w-inline-block"><img src="images/5ef85984f08f2200fa094d36_statistic-1606951.png" srcset="images/5ef85984f08f2200fa094d36_statistic-1606951-p-500.png 500w, images/5ef85984f08f2200fa094d36_statistic-1606951-p-800.png 800w, images/5ef85984f08f2200fa094d36_statistic-1606951-p-1080.png 1080w, images/5ef85984f08f2200fa094d36_statistic-1606951-p-1600.png 1600w, images/5ef85984f08f2200fa094d36_statistic-1606951.png 1920w" sizes="(max-width: 991px) 60px, 105px" alt="" class="drclient-logo-2"><div class="drtext-block-7">Business Intelligence</div><div class="drtext-block-8">Инструменты для наглядного<br>анализа бизнеса</div></a></div>
						<div class="drlogo-column w-col w-col-3"><a href="#" class="w-inline-block"><img src="images/5ef8588fff9bfd07cd747ccf_information-technology-5327546_1280.png" srcset="images/5ef8588fff9bfd07cd747ccf_information-technology-5327546_1280-p-500.png 500w, images/5ef8588fff9bfd07cd747ccf_information-technology-5327546_1280-p-800.png 800w, images/5ef8588fff9bfd07cd747ccf_information-technology-5327546_1280-p-1080.png 1080w, images/5ef8588fff9bfd07cd747ccf_information-technology-5327546_1280.png 1280w" sizes="(max-width: 991px) 80px, 140px" alt="" class="drclient-logo-2"><div class="drtext-block-7">Web Scraping</div><div class="drtext-block-8">Сбор и анализ бизнес-информации из различных онлайн источников</div></a></div>
					</div>
				</div>
			</div>
			<div f_layout="Обо мне" class="drabout-3">
				<div class="drabout-me-2">
					<div class="drdiv-block-43">
						<div class="drtext-block-5-copy-copy-copy-4">Обо мне</div><img src="images/5ee482261f082118afbfbe6a_logo-rostok.png" alt="" class="image-2-copy-copy-copy-copy-copy-copy"></div>
					<div class="drabout-me-stas-copy-2 w-clearfix">
						<div class="drproject1-img1-copy-3"></div>
						<div class="drproject1-text1-2 w-clearfix">
							<div class="drabout-me-text">
								<div class="drsection-title-wrapper drfull">
									<h2 class="drsection-title-8">Обо мне</h2>
								</div>
								<p class="drintro-paragraph-4">Я — Анатолий Мышкин, сооснователь проекта Dream Grower, исследователь и разработчик в области психоакустики и IT.<br>Больше 10 лет опыта в IT - от финтех HFT до веб разработки.</p>
								<p class="drabout-paragraf dr1"><strong>Основная деятельность</strong> — развитие проекта <a href="#">Dream Grower</a> c online-платформой для практического самоисследования, саморазвития и нетворкинга в среде людей со схожими ценностями и интересами.<br><br>В этом проекте я занимаюсь технической частью, сбором и формированием контента, создаю собственный контент (статьи, обзоры, вебинары) и веду несколько тематических направлений.<br></p>
								<p class="drabout-paragraf dr1"><strong>Другие направления. </strong>IT-консалтинг — консультирую компании по вопросам поиска важных данных из различных источников, автоматизации бизнес процессов (BI, веб операции, BPMN и другие технологии моделирования и автоматизации бизнеса).<br>‍<br>Психоакустика — увлечен влиянием звуков и мелодий на психику и подсознание человека, предлагаю услуги по грамотному аудио-сопровождению медитаций, психологических практик. Аудио-брендинг.</p>
								<p class="paragraph-23"><strong>Последние три года</strong> параллельно занимался исследованиями себя и своих истинных интерсов и потенциала. Результатом для меня стало обновленное сознание и повышение осознанности в жизни, эффективности в работе. Итогом этого периода стал запуск проекта Dream Grower, который мы создали и развиваем вместе с <a href="#">Olka Ples</a>.</p><a href="#" class="drbutton-4-copy-copy dr2 w-button">Связаться</a></div>
						</div>
					</div>
					<div f_layout="Пиктограммы" class="drabout-pictogram-3-copy">
						<div class="drdiv-block-16">
							<div class="drfeatures-row-3 w-row">
								<div class="drfeature-column-2 w-col w-col-3 w-col-medium-6 w-col-small-6 w-col-tiny-6">
									<div class="drfeature-block-2"><img src="images/5ed959bdb2936b60515d53c6_pictoblue_01.png" alt="" class="drclient-logo-copy">
										<h2 class="drheading-13">> 10 лет<br>IT опыта</h2>
										<p class="drparagraph-11">сотрудничества с командами из США, Англии, Франции, Норвегии и СНГ</p>
									</div>
								</div>
								<div class="drfeature-column-2 w-col w-col-3 w-col-medium-6 w-col-small-6 w-col-tiny-6">
									<div class="drfeature-block-2"><img src="images/5ed959d6b2936b30005d549f_pictoblue_03.png" alt="" class="drclient-logo-copy">
										<h2 class="drheading-13">Пишу<br>книгу<br></h2>
										<p class="drparagraph-11">Ruby 3 and TruffleRuby for massive web projects для издательства в Азии</p>
									</div>
								</div>
								<div class="drfeature-column-2 w-col w-col-3 w-col-medium-6 w-col-small-6 w-col-tiny-6">
									<div class="drfeature-block-2"><img src="images/5ed959ca7a82597eeaf95a7e_pictoblue_02.png" alt="" class="drclient-logo-copy">
										<h2 class="drheading-13">Помогаю бизнесу</h2>
										<p class="drparagraph-11">Консультирую как получить удобные и простые, но эффективные IT инструменты</p>
									</div>
								</div>
								<div class="column-5 w-col w-col-3 w-col-medium-6 w-col-small-6 w-col-tiny-6">
									<div class="drfeature-block-2"><img src="images/5ed959bdb2936b60515d53c6_pictoblue_01.png" alt="" class="drclient-logo-copy">
										<h2 class="drheading-13">Работаю удаленно</h2>
										<p class="drparagraph-11">И могу помочь построить крутую удаленную команду специалистов</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="review-copy">
				<div class="drdiv-block-19-copy-copy-copy-copy">
					<div class="drdiv-block-43">
						<div class="drtext-block-5-copy-copy-3">Проф. досье</div>
					</div>
					<h2 class="drsection-title-7">Профессиональное досье</h2>
				</div>
				<div class="content-wrapper">
					<div class="w-row">
						<div class="w-hidden-small w-hidden-tiny w-col w-col-3">
							<div class="white-wrapper"><img src="images/5ef86481e3dcc144ea8dab82_foto-anatol.jpg" srcset="images/5ef86481e3dcc144ea8dab82_foto-anatol-p-500.jpeg 500w, images/5ef86481e3dcc144ea8dab82_foto-anatol-p-800.jpeg 800w, images/5ef86481e3dcc144ea8dab82_foto-anatol-p-1080.jpeg 1080w, images/5ef86481e3dcc144ea8dab82_foto-anatol.jpg 1200w" sizes="(max-width: 767px) 100vw, (max-width: 991px) 12vw, (max-width: 1439px) 13vw, (max-width: 1919px) 14vw, 16vw" alt="" class="circle-profile">
								<p class="site-description">«Большинство из нас считает, что если у нас будет то и это, мы будем счастливы. Но я говорю вам, что сначала счастье, а потом уже придёт все остальное.»</p>
								<div class="grey-rule"></div>
								<h2 class="small-heading">Роберт Адамс</h2>
								<div class="grey-rule"></div>
								<div class="social-link-group"><a href="#" class="social-icon-link w-inline-block"><img src="images/5ef7bb8fc9e81ad2e4a0479e_social-03.svg" width="25" alt=""></a><a href="#" class="social-icon-link w-inline-block"><img src="images/5ef7bb8fc9e81a276ca047ed_social-07.svg" width="25" alt=""></a><a href="#" class="social-icon-link w-inline-block"><img src="images/5ef7bb8fc9e81a5989a04836_social-18.svg" width="25" alt=""></a><a href="#" class="social-icon-link w-inline-block"><img src="images/5ef7bb8fc9e81adcaba047ab_social-09.svg" width="25" alt=""></a></div>
							</div>
						</div>
						<div class="content-column w-col w-col-9">
							<div class="container-2 w-container">
								<div data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
									<div class="tabs-content w-tab-content">
										<div data-w-tab="User Interface" class="w-tab-pane w--tab-active">
											<div class="accordion-item">
												<div data-w-id="bc84c6c8-6941-0ca1-cbba-276437f0b71c" class="accordion-item-trigger">
													<h4 class="accordion-heading"><strong class="bold-text">Образование</strong></h4>
													<div class="icon-2 accordion-icon">keyboard_arrow_down</div>
												</div>
												<div style="height:0PX" class="accordion-item-content">
													<p class="paragraph-6-copy"><strong>Высшее образование </strong>МАУП, Киев, прикладная математика<br><strong>Самообразование</strong> - FPGA, микроконтроллеры, веб-программирование, Data Science, Data Scraping, автоматизация, обработка звука и современные DAW<br><strong>Широкий кругозов в IT</strong> - от железа и системного программирования до бизнес процессов</p>
												</div>
											</div>
											<div class="accordion-item">
												<div data-w-id="bc84c6c8-6941-0ca1-cbba-276437f0b730" class="accordion-item-trigger">
													<h4 class="accordion-heading"><strong class="bold-text">Опыт работы и практика</strong></h4>
													<div class="icon-2 accordion-icon">keyboard_arrow_down</div>
												</div>
												<div style="height:0PX" class="accordion-item-content">
													<div class="accordion-item-content">
														<p class="paragraph-6-copy-copy-copy"><strong class="bold-text-copy">Как IT консультант и разработчик</strong></p>
														<ul role="list" class="drchecklist-copy-2 w-list-unstyled">
															<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
																<p class="paragraph-23"><strong>Сильные стороны</strong> - говорю с бизнесом на его языке, могу эффективно доносить мысль как до технических, так и до не технических людей. Люблю позитив и уважаю долгосрочные деловые отношения.</p>
															</li>
															<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
																<p class="paragraph-23"><strong>Опыт</strong> как в СНГ, так и в англоязычных компаниях из США, Англии, Норвегии (последние 5 лет).<br></p>
															</li>
															<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
																<p class="paragraph-23"><strong>Чем занимался:<br></strong>• вел разработку визуального мультирежимного планировщика производственных процессов для крупной фарма компании<br>‍<br>• исследовал готовность open-source инструментов для автоматизации ASIC синтеза и формальной верификации<br>‍<br>• консультантировал, прорабатывал гипотезы о новых продуктах для муз индустрии оптимального технического стека для них<br>‍<br>• проводил исследование - Intel SGX + WolfSSL стека для нового ПО продукта<strong><br></strong></p>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="accordion-item">
												<div data-w-id="bc84c6c8-6941-0ca1-cbba-276437f0b759" class="accordion-item-trigger">
													<h4 class="accordion-heading"><strong class="bold-text">Профессиональные достижения</strong></h4>
													<div class="icon-2 accordion-icon">keyboard_arrow_down</div>
												</div>
												<div style="height:0PX" class="accordion-item-content">
													<p class="paragraph-6-copy">Замечательные отношения с прежними заказчиками на протяжении многих лет :)<br>Удаленно формировал и вел команды, состоящие как из технических, так и гуманитарных специалистов<br>Помог внедрить полезные практики автоматизации в несколько компаний<br>Запуск Dream Grower</p>
												</div>
											</div>
										</div>
										<div data-w-tab="Concept" class="w-tab-pane">
											<div class="accordion-item">
												<div class="accordion-item-trigger">
													<h4 class="accordion-heading"><strong class="bold-text">Профессиональный опыт</strong></h4>
													<div class="icon-2 accordion-icon">keyboard_arrow_down</div>
												</div>
												<div class="accordion-item-content">
													<p class="paragraph-6-copy-copy">Психолог, консультации в Кризисный психолог Виктория Мышкина</p>
													<p class="paragraph-6-copy">Психолог, консультации в Кризисный психолог Виктория Мышкина<br>Психотерапевт, семейный психолог в "Equides club"<br>Кризисный психолог в Клиниках для зависимых<br>Психолог Школы "Життя" для детей с особенными потребностями<br>Институт Петьо. Участник конференции "Кондуктивная педагогика. Метод Петьо"</p>
												</div>
											</div>
										</div>
										<div data-w-tab="Consulting" class="w-tab-pane">
											<div class="accordion-item">
												<div class="accordion-item-trigger">
													<h4 class="accordion-heading"><strong class="bold-text">Пошаговый план моей работы с вами</strong></h4>
													<div class="icon-2 accordion-icon">keyboard_arrow_down</div>
												</div>
												<div class="accordion-item-content">
													<p class="paragraph-6-copy"><strong>1. Знакомство и обсуждение проблемы<br></strong>Это первичная консультация - бесплатная. <br>На ней происходит наше с вами знакомство, обсуждение проблемной ситуации, конкретизация вашего запроса. Я предлагаю варианты, ориентирую по стоимости и рассказываю схему работы.  За вами остается принятие решения.<br><br><strong>2. Углубленная диагностика и тестирование согласно вашему случаю<br></strong>Погружение и углубленное изучение вашей ситуации, личности и психотипа. Выявление корневых причин психологической проблемы в сложившейся ситуации и причины самой ситуации.<br><br><strong>3. Детальный план по выходу из кризисной ситуации<br></strong>Проработка стратегии и подбор для вас наиболее эффективных техник, в том числе и из арсенала личных авторских методик. Для каждого конкретного случая я разрабатываю индивидуальный подход.<br><br><strong>4. Психологическая проработка и освоение новых стратегий поведения<br></strong>Работа с вашими внутренними и внешними состояниями через работу с сознанием и подсознанием. Что выводит на переосмысление ситуации и себя в ней, а также построение и освоение новых сценариев поведения.<br><br><strong>5. Внедрение новых навыков поведения в повседневную жизнь, их системное закрепление.<br></strong>На протяжении всего периода сопровождения я держу постоянную связь с вами и контролирую ситуацию и ваши успехи. <br><br><strong>Вы всегда можете расчитывать на мою оперативную помощь и поддержку.</strong></p>
												</div>
											</div>
											<div class="accordion-item">
												<div class="accordion-item-trigger">
													<h4 class="accordion-heading"><strong class="bold-text">Стоимость консультаций</strong></h4>
													<div class="icon-2 accordion-icon">keyboard_arrow_down</div>
												</div>
												<div class="accordion-item-content">
													<p class="paragraph-6-copy"><strong>Продолжительность консультации - 1 час (60 мин.)<br></strong>Первичная консультация -<strong> Бесплатно.<br><br>Пакеты<br>‍</strong>Из 3-х консультаций - <strong>38 $</strong> за консультацию.<br>Из 8-ми консультаций - <strong>35 $ </strong>за консультацию.<br><br><strong>1 консультация - 50 $</strong><br></p>
												</div>
											</div>
										</div>
										<div data-w-tab="Concept 2" class="w-tab-pane">
											<div class="accordion-item">
												<div class="accordion-item-trigger">
													<h4 class="accordion-heading"><strong class="bold-text">Профессиональный опыт</strong></h4>
													<div class="icon-2 accordion-icon">keyboard_arrow_down</div>
												</div>
												<div class="accordion-item-content">
													<p class="paragraph-6-copy-copy">Психолог, консультации в Кризисный психолог Виктория Мышкина</p>
													<p class="paragraph-6-copy">Психолог, консультации в Кризисный психолог Виктория Мышкина<br>Психотерапевт, семейный психолог в "Equides club"<br>Кризисный психолог в Клиниках для зависимых<br>Психолог Школы "Життя" для детей с особенными потребностями<br>Институт Петьо. Участник конференции "Кондуктивная педагогика. Метод Петьо"</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
									<div class="tabs-content w-tab-content">
										<div data-w-tab="User Interface" class="w-tab-pane w--tab-active">
											<div class="accordion-item">
												<div data-w-id="4cc9d2f2-6695-d122-856d-406991aac145" class="accordion-item-trigger">
													<h4 class="accordion-heading"><strong class="bold-text">Навыки</strong></h4>
													<div class="icon-2 accordion-icon">keyboard_arrow_down</div>
												</div>
												<div style="height:0PX" class="accordion-item-content">
													<p class="paragraph-6-copy"><strong>Основные языки программирования </strong>-<strong> </strong>Ruby, Python, JS<br><strong>Инфраструктура</strong> - Google Cloud, Azure, Git, Docker , static web - Middleman, Vercel<br><strong>Нетворкинг</strong> - LinkedIn - 6700 деловых контактов в сфере IT)<br><strong>Опыт работы с компаниями различных индустрий</strong><br><strong>Поиск и найм команд</strong> - как локальных, так и удаленных)<br><br><strong>Аудио и психоакустика </strong>-<strong> </strong>Reaper DAW, audio processing языки, binaural/3D системы, <br>создание своих VST расширений</p>
												</div>
											</div>
											<div class="accordion-item">
												<div data-w-id="4cc9d2f2-6695-d122-856d-406991aac159" class="accordion-item-trigger">
													<h4 class="accordion-heading"><strong class="bold-text">Увлечения</strong></h4>
													<div class="icon-2 accordion-icon">keyboard_arrow_down</div>
												</div>
												<div style="height:0PX" class="accordion-item-content">
													<div class="accordion-item-content">
														<ul role="list" class="drchecklist-copy-2 w-list-unstyled">
															<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
																<p class="paragraph-23"><strong>Медитация</strong> - близка адвайта-веданта, увлечен практиками постоянной осознанности и бытовой медитации</p>
															</li>
															<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
																<p class="paragraph-23"><strong>Йога</strong> - начинающий, завораживает синхронизация тела и сознания<br></p>
															</li>
															<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
																<p class="paragraph-23"><strong>Бег </strong>-<strong> </strong>особенно по горным трекам</p>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="accordion-item">
												<div data-w-id="4cc9d2f2-6695-d122-856d-406991aac182" class="accordion-item-trigger">
													<h4 class="accordion-heading"><strong class="bold-text">Мои цели</strong></h4>
													<div class="icon-2 accordion-icon">keyboard_arrow_down</div>
												</div>
												<div style="height:0PX" class="accordion-item-content">
													<p class="paragraph-6-copy">В Dream Grower - я хочу развить самое живое и активное сообщество по саморазвитию в русскоязычном интернете. И мне интересно вести свои еженедельные колонки о:<br>• практиках осознанности и медитации<br>• современным открытиям в работе мозга, памяти, бихевиористики<br>• психоакустике, звукотерапии и всему связанному с этим</p>
												</div>
											</div>
										</div>
										<div data-w-tab="Concept" class="w-tab-pane">
											<div class="accordion-item">
												<div class="accordion-item-trigger">
													<h4 class="accordion-heading"><strong class="bold-text">Профессиональный опыт</strong></h4>
													<div class="icon-2 accordion-icon">keyboard_arrow_down</div>
												</div>
												<div class="accordion-item-content">
													<p class="paragraph-6-copy-copy">Психолог, консультации в Кризисный психолог Виктория Мышкина</p>
													<p class="paragraph-6-copy">Психолог, консультации в Кризисный психолог Виктория Мышкина<br>Психотерапевт, семейный психолог в "Equides club"<br>Кризисный психолог в Клиниках для зависимых<br>Психолог Школы "Життя" для детей с особенными потребностями<br>Институт Петьо. Участник конференции "Кондуктивная педагогика. Метод Петьо"</p>
												</div>
											</div>
										</div>
										<div data-w-tab="Consulting" class="w-tab-pane">
											<div class="accordion-item">
												<div class="accordion-item-trigger">
													<h4 class="accordion-heading"><strong class="bold-text">Пошаговый план моей работы с вами</strong></h4>
													<div class="icon-2 accordion-icon">keyboard_arrow_down</div>
												</div>
												<div class="accordion-item-content">
													<p class="paragraph-6-copy"><strong>1. Знакомство и обсуждение проблемы<br></strong>Это первичная консультация - бесплатная. <br>На ней происходит наше с вами знакомство, обсуждение проблемной ситуации, конкретизация вашего запроса. Я предлагаю варианты, ориентирую по стоимости и рассказываю схему работы.  За вами остается принятие решения.<br><br><strong>2. Углубленная диагностика и тестирование согласно вашему случаю<br></strong>Погружение и углубленное изучение вашей ситуации, личности и психотипа. Выявление корневых причин психологической проблемы в сложившейся ситуации и причины самой ситуации.<br><br><strong>3. Детальный план по выходу из кризисной ситуации<br></strong>Проработка стратегии и подбор для вас наиболее эффективных техник, в том числе и из арсенала личных авторских методик. Для каждого конкретного случая я разрабатываю индивидуальный подход.<br><br><strong>4. Психологическая проработка и освоение новых стратегий поведения<br></strong>Работа с вашими внутренними и внешними состояниями через работу с сознанием и подсознанием. Что выводит на переосмысление ситуации и себя в ней, а также построение и освоение новых сценариев поведения.<br><br><strong>5. Внедрение новых навыков поведения в повседневную жизнь, их системное закрепление.<br></strong>На протяжении всего периода сопровождения я держу постоянную связь с вами и контролирую ситуацию и ваши успехи. <br><br><strong>Вы всегда можете расчитывать на мою оперативную помощь и поддержку.</strong></p>
												</div>
											</div>
											<div class="accordion-item">
												<div class="accordion-item-trigger">
													<h4 class="accordion-heading"><strong class="bold-text">Стоимость консультаций</strong></h4>
													<div class="icon-2 accordion-icon">keyboard_arrow_down</div>
												</div>
												<div class="accordion-item-content">
													<p class="paragraph-6-copy"><strong>Продолжительность консультации - 1 час (60 мин.)<br></strong>Первичная консультация -<strong> Бесплатно.<br><br>Пакеты<br>‍</strong>Из 3-х консультаций - <strong>38 $</strong> за консультацию.<br>Из 8-ми консультаций - <strong>35 $ </strong>за консультацию.<br><br><strong>1 консультация - 50 $</strong><br></p>
												</div>
											</div>
										</div>
										<div data-w-tab="Concept 2" class="w-tab-pane">
											<div class="accordion-item">
												<div class="accordion-item-trigger">
													<h4 class="accordion-heading"><strong class="bold-text">Профессиональный опыт</strong></h4>
													<div class="icon-2 accordion-icon">keyboard_arrow_down</div>
												</div>
												<div class="accordion-item-content">
													<p class="paragraph-6-copy-copy">Психолог, консультации в Кризисный психолог Виктория Мышкина</p>
													<p class="paragraph-6-copy">Психолог, консультации в Кризисный психолог Виктория Мышкина<br>Психотерапевт, семейный психолог в "Equides club"<br>Кризисный психолог в Клиниках для зависимых<br>Психолог Школы "Життя" для детей с особенными потребностями<br>Институт Петьо. Участник конференции "Кондуктивная педагогика. Метод Петьо"</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div f_layout="Деятельность" class="drproject-2-2">
				<div class="drdiv-block-19-copy-copy-copy-copy">
					<div class="drdiv-block-43">
						<div class="drtext-block-5-copy-copy-3">Проекты</div>
					</div>
					<h2 class="drsection-title-7">Развиваю проекты</h2>
				</div>
				<div class="drbloki-2">
					<div class="drdiv-block-46-copy">
						<div class="drdiv-block-34 w-clearfix">
							<div class="pic-proect-1-copy-copy"></div>
							<div class="project1-text1-copy-copy-3 w-clearfix">
								<div class="drcontent-section-block-2">
									<div class="drsection-title-wrapper drfull">
										<h2 class="drsection-title-8 dr1">Проект Dream Grower</h2>
										<p class="drintro-paragraph-4">для практического самоисследования, саморазвития и нетворкинга.<br></p>
										<p class="drabout-paragraf-copy dr1">Темы и блоги, которые веду в этом проекте:</p>
									</div>
									<ul role="list" class="drchecklist-copy-2 w-list-unstyled">
										<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
											<p class="paragraph-23"><a href="#">Развитие Dream Grower</a>. Вместе с <a href="#">Olka Ples</a> рассказываем, как мы с нуля развиваем наш проект и ведем его к намеченным целям.</p>
										</li>
										<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
											<p class="paragraph-23"><a href="#">"Я, Эго, Сознание и Подсознание"</a>. Где я через себя пропускаю большое кол-во информации (книги, исследования, видео и т.д.) и делаю выжимку самой сути. Пишу понятно о сложном, делюсь своими выводами и инсайтами.</p>
										</li>
										<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
											<p class="paragraph-23"><a href="#">"Моя ежедневная осознанность"</a>. Где я делюсь своими практиками осознанности - прохожу и делюсь результатами своих экспериментов.</p>
										</li>
										<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
											<p class="paragraph-23"><a href="#">Психоакустика</a> - мой авторский проект, где я исследую и экспериментирую с разными гранями психоакустики.</p>
										</li>
									</ul>
									<ul role="list" class="drchecklist-copy-2 w-list-unstyled">
										<li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" width="15" alt="" class="drcheck-icon"></li>
									</ul><a href="#" class="button-4-copy-copy-copy dr2 w-button">подробнее</a><a href="#" class="drbutton-4-copy dr2 w-button">связаться</a></div>
							</div>
						</div>
						<div class="drdiv-block-35">
							<div class="drdiv-block-34 w-clearfix">
								<div class="pic-proect-2-copy-copy"></div>
								<div class="project1-text1-copy-copy-3 w-clearfix">
									<div class="drcontent-section-block-2">
										<div class="drsection-title-wrapper drfull">
											<h2 class="drsection-title-8 dr1">Психоакустика</h2>
										</div>
										<p class="drintro-paragraph-4">Мой авторский проект, посвященный исследованиям и практическому применению психоакустики<br></p>
										<p class="drabout-paragraf dr1">Уже больше 5 лет я увлечен вопросами влияния звуков и мелодий на человеческую психику и подсознание.<br>Через влияние звука на сознание и подсознание, можно:<br></p>
										<ul role="list" class="drchecklist-copy-2 w-list-unstyled">
											<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
												<p class="paragraph-23">возвращать людей в их эффективное состояние (к примеру, воодушевление или уверенность в своем успехе) - с помощью звукотерапии</p>
											</li>
											<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
												<p class="paragraph-23">создавать дополнение к бренду бизнеса (публичных мест, заведений, психологических центров) - с помощью аудио-брендинга</p>
											</li>
											<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
												<p class="paragraph-23">придавать неповторимый авторский подчерк и глубину аудио-медитациям, онлайн-семинарам и курсам.</p>
											</li>
										</ul><a href="#" class="button-4-copy-copy-copy dr2 w-button">подробнее</a><a href="#" class="drbutton-4-copy dr2 w-button">связаться</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div f_layout="Деятельность" class="drproject-2-2">
				<div class="drdiv-block-19-copy-copy-copy-copy">
					<div class="drdiv-block-43">
						<div class="drtext-block-5-copy-copy-3">Услуги</div>
					</div>
					<h2 class="drsection-title-7">Провожу IT-консультации</h2>
				</div>
				<div class="drbloki-2">
					<div class="drdiv-block-46-copy">
						<div class="drdiv-block-34 w-clearfix">
							<div class="pic-proect-1-copy-copy"></div>
							<div class="project1-text1-copy-copy-3 w-clearfix">
								<div class="drcontent-section-block-2">
									<div class="drsection-title-wrapper drfull">
										<h2 class="drsection-title-8 dr1">Автоматизация рутинных операций</h2>
									</div>
									<p class="drabout-paragraf dr1">Я считаю, что современном мире автомаитзация - это неотъемлемая часть успешного бизнеса и высокой продуктивности. <br>И ее есть смысл внедр как крупному, так и среднему и даже мелкому бизнесу. В среднем, автоматизация внутри компаний не дотягивает и до 15% от всех возможных.</p>
									<p class="drabout-paragraf-copy dr1">Я предагаю:</p>
									<ul role="list" class="drchecklist-copy-2 w-list-unstyled">
										<li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" width="15" alt="" class="drcheck-icon"></li>
										<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
											<p class="paragraph-23">подобрать интересный вариант и автоматизировать хотя бы часть рутинных процессов.</p>
										</li>
									</ul>
									<p class="drabout-paragraf-copy dr1"></p>
									<ul role="list" class="drchecklist-copy-2 w-list-unstyled">
										<li class="drchecklist-item"><img src="images/5ed7f591640ed7e3c71e035e_Icon-check-green.png" width="15" alt="" class="drcheck-icon"></li>
										<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
											<p class="paragraph-23">сохранить макисмум человеческого времени через использование систем, которые смогут выполнять нужные функции автономно, быстро и с минимальным обслуживанием.</p>
										</li>
									</ul><a href="#" class="button-4-copy-copy-copy dr2 w-button">подробнее</a><a href="#" class="drbutton-4-copy dr2 w-button">связаться</a></div>
							</div>
						</div>
						<div class="drdiv-block-35">
							<div class="drdiv-block-34 w-clearfix">
								<div class="pic-proect-2-copy-copy"></div>
								<div class="project1-text1-copy-copy-3 w-clearfix">
									<div class="drcontent-section-block-2">
										<div class="drsection-title-wrapper drfull">
											<h2 class="drsection-title-8 dr1">Business Intelligence системы</h2>
										</div>
										<p class="drintro-paragraph-4">для наглядного анализа данных<br></p>
										<p class="drabout-paragraf dr1">Для анализа данных вашего бизнеса можно выбирать из множества современных BI систем.<br>Но как выбрать оптимальную для вашего случая, для вашего набора информации?<br>‍<br>Я помогаю сориентировать как в платных так и в бесплатных open-source решениях и подобрать самый эффективный вариант.</p>
										<p class="drabout-paragraf-copy dr1">Я предагаю:</p>
										<ul role="list" class="drchecklist-copy-2 w-list-unstyled">
											<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
												<p class="paragraph-23">подбор инструмента, оптимального для вас</p>
											</li>
											<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
												<p class="paragraph-23">настройку и сопровождение по обработке данных</p>
											</li>
											<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
												<p class="paragraph-23">обучение как пользоваться системой, для обнаружения проблемных аспектов вашего бизнеса</p>
											</li>
										</ul><a href="#" class="button-4-copy-copy-copy dr2 w-button">подробнее</a><a href="#" class="drbutton-4-copy dr2 w-button">связаться</a></div>
								</div>
							</div>
						</div>
						<div class="drdiv-block-34">
							<div class="drdiv-block-34">
								<div class="drdiv-block-34 w-clearfix">
									<div class="pic-proect-3-copy-copy-copy"></div>
									<div class="project1-text1-copy-copy-3 w-clearfix">
										<div class="drcontent-section-block-2">
											<div class="drsection-title-wrapper drfull">
												<h2 class="drsection-title-8 dr1">Web Scraping</h2>
											</div>
											<p class="drintro-paragraph-4">Сбор и анализ бизнес-информации из различных онлайн источников</p>
											<p class="drabout-paragraf dr1">В интернете находится огромное количество данных, полезных для бизнеса. Но они распределены между сайтами, соц сетями, базами данных. Часто они еще и не структурированы - сложны для ручного сбора и анализа.<br>‍<br><strong>Я предагаю:<br></strong></p>
											<ul role="list" class="drchecklist-copy-2 w-list-unstyled">
												<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
													<p class="paragraph-23">автоматизацию сбора данных о конкурентах - цены, товары/услуги, новости и маркетинг</p>
												</li>
												<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
													<p class="paragraph-23">поиск новых потенциальных клиентов и ниш на рынках (в том числе и в других странах)</p>
												</li>
												<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
													<p class="paragraph-23">определение оптимальных KOL (ключевых лидеров мнений) для продвижения вашего бизнеса в современном формате</p>
												</li>
											</ul><a href="#" class="button-4-copy-copy-copy dr2 w-button">подробнее</a><a href="#" class="drbutton-4-copy dr2 w-button">связаться</a></div>
									</div>
								</div>
							</div>
						</div>
						<div id="w-node-eeb2330cecd7-5c9bbe77" class="drdiv-block-34">
							<div class="drdiv-block-34">
								<div class="drdiv-block-34 w-clearfix">
									<div class="pic-proect-4-copy-copy-copy"></div>
									<div class="project1-text1-copy-copy-3 w-clearfix">
										<div class="drcontent-section-block-2">
											<div class="drsection-title-wrapper drfull">
												<h2 class="drsection-title-8 dr1">Дополнительные услуги</h2>
												<p class="drintro-paragraph-4">Для руководителей и топ-менеджмента</p>
												<p class="drabout-paragraf dr1">!‍<br><strong>Я предагаю:<br></strong></p>
											</div>
											<ul role="list" class="drchecklist-copy-2 w-list-unstyled">
												<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
													<p class="paragraph-23">консультации по современным IT возможностям топ-менеджерам и предпринимателям с ограниченным техническим опытом</p>
												</li>
												<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
													<p class="paragraph-23">консультации по подбору, поиску и найму нишевых профессиональных IT инженеров, построению эффективной удаленной команды</p>
												</li>
												<li class="drchecklist-item"><img src="images/5ee7e98ef2e87f4216e49e74_galochka.png" alt="" class="drcheck-icon">
													<p class="paragraph-23">помощь в составлении оптимальных IT вакансий</p>
												</li>
											</ul><a href="#" class="button-4-copy-copy-copy dr2 w-button">подробнее</a><a href="#" class="drbutton-4-copy dr2 w-button">связаться</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="image-section quote">
				<div class="image-section-overlay">
					<div class="container w-container">
						<div class="image-section-overlay-block">
							<div class="image-section-overlay-title">Для первичной консультации напишите о вашем бизнесе</div>
							<div class="image-section-overlay-title subtitle">И я предложу варианты, которые могут заинтересовать вас больше всего</div>
						</div>
					</div>
				</div>
			</div>
			<div f_layout="Что вы можете купить у меня" class="drprizyv drtint">
				<div class="drcontainer-4 drcentered w-container">
					<h2 class="drsection-title-copy-copy-copy-copy-2">Буду рад видеть вас в кругу единомышленников на Dream Grower и быть вам полезным.<br>Присоединяйтесь!</h2>
				</div>
			</div>
			<div f_layout="Что еще делаю" class="section-3-copy-copy-copy-copy-copy drtint">
				<div class="drcontainer-4 drcentered w-container">
					<div class="drdiv-block-19-copy-copy">
						<div class="drdiv-block-19-copy-copy-copy">
							<div class="drtext-block-5-copy-copy-copy-3">Галерея</div>
						</div>
					</div>
				</div>
				<div class="container-8 w-container">
					<div class="section-title-wrapper">
						<h2 class="section-title-7">Галерея</h2>
						<div class="section-description-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</div>
					</div>
					<div class="gallery-grid-container"><a href="#" id="w-node-782c601ecfae-5c9bbe77" class="gallery-lightbox w-inline-block w-lightbox"><img src="images/5ee7fb8fb2c461c5e9ce6bb9_EVA_196320D0BAD0BED0BFD0B8D18F.jpg" srcset="images/5ee7fb8fb2c461c5e9ce6bb9_EVA_196320D0BAD0BED0BFD0B8D18F-p-1080.jpeg 1080w, images/5ee7fb8fb2c461c5e9ce6bb9_EVA_196320D0BAD0BED0BFD0B8D18F-p-1600.jpeg 1600w, images/5ee7fb8fb2c461c5e9ce6bb9_EVA_196320D0BAD0BED0BFD0B8D18F-p-2000.jpeg 2000w, images/5ee7fb8fb2c461c5e9ce6bb9_EVA_196320D0BAD0BED0BFD0B8D18F-p-2600.jpeg 2600w, images/5ee7fb8fb2c461c5e9ce6bb9_EVA_196320D0BAD0BED0BFD0B8D18F-p-3200.jpeg 3200w, images/5ee7fb8fb2c461c5e9ce6bb9_EVA_196320D0BAD0BED0BFD0B8D18F.jpg 5040w" sizes="(max-width: 479px) 84vw, (max-width: 767px) 43vw, (max-width: 991px) 21vw, (max-width: 1279px) 20vw, 220px" alt="" class="gallery-thumbnail"><script type="application/json" class="w-json">{"items":[{"width":2048,"caption":"","height":1284,"fileName":"5ee7a87b1b796057ac6b6ab8_1913301_10204192454404586_7097821216341278668_o.jpg","origFileName":"1913301_10204192454404586_7097821216341278668_o.jpg","url":"images\/5ee7a87b1b796057ac6b6ab8_1913301_10204192454404586_7097821216341278668_o.jpg","_id":"5ee7a87b1b796057ac6b6ab8","type":"image","fileSize":206979},{"width":5040,"caption":"","height":3360,"fileName":"5ee7fb8fb2c461c5e9ce6bb9_EVA_1963 копия.jpg","origFileName":"EVA_1963 копия.jpg","url":"images\/5ee7fb8fb2c461c5e9ce6bb9_EVA_196320D0BAD0BED0BFD0B8D18F.jpg","_id":"5ee7fb8fb2c461c5e9ce6bb9","type":"image","fileSize":2200137}],"group":"gallery"}</script></a><a href="#" class="gallery-lightbox w-inline-block w-lightbox"><img src="images/5eee048c914def3b82dce460__DSC7411.jpg" srcset="images/5eee048c914def3b82dce460__DSC7411-p-500.jpeg 500w, images/5eee048c914def3b82dce460__DSC7411-p-1080.jpeg 1080w, images/5eee048c914def3b82dce460__DSC7411-p-1600.jpeg 1600w, images/5eee048c914def3b82dce460__DSC7411.jpg 1920w" sizes="(max-width: 479px) 84vw, (max-width: 767px) 43vw, (max-width: 991px) 21vw, (max-width: 1279px) 20vw, 220px" alt="" class="gallery-thumbnail"><script type="application/json" class="w-json">{"items":[{"type":"image","_id":"5eee048c914def3b82dce460","fileName":"5eee048c914def3b82dce460__DSC7411.jpg","origFileName":"_DSC7411.jpg","width":1920,"height":1460,"fileSize":1774468,"url":"images\/5eee048c914def3b82dce460__DSC7411.jpg"},{"cdnUrl":"https:\/\/d3e54v103j8qbb.cloudfront.net\/img\/image-placeholder.svg","width":150,"height":150,"fileName":"image-placeholder.svg","origFileName":"image-placeholder.svg","url":"images\/image-placeholder.svg","_id":"example_img","type":"image","fileSize":2063}],"group":"gallery"}</script></a><a href="#" class="gallery-lightbox w-inline-block w-lightbox"><img src="images/5db86dc4f8e818ea77d7c5fa_placeholder-thumb.svg" alt="" class="gallery-thumbnail"><script type="application/json" class="w-json">{"items":[{"cdnUrl":"https:\/\/d3e54v103j8qbb.cloudfront.net\/img\/image-placeholder.svg","width":150,"height":150,"fileName":"image-placeholder.svg","origFileName":"image-placeholder.svg","url":"images\/image-placeholder.svg","_id":"example_img","type":"image","fileSize":2063}],"group":"gallery"}</script></a><a href="#" class="gallery-lightbox w-inline-block w-lightbox"><img src="images/5db86dc4f8e818ea77d7c5fa_placeholder-thumb.svg" alt="" class="gallery-thumbnail"><script type="application/json" class="w-json">{"items":[{"cdnUrl":"https:\/\/d3e54v103j8qbb.cloudfront.net\/img\/image-placeholder.svg","width":150,"height":150,"fileName":"image-placeholder.svg","origFileName":"image-placeholder.svg","url":"images\/image-placeholder.svg","_id":"example_img","type":"image","fileSize":2063}],"group":"gallery"}</script></a><a href="#" class="gallery-lightbox w-inline-block w-lightbox"><img src="images/5db86dc4f8e818ea77d7c5fa_placeholder-thumb.svg" alt="" class="gallery-thumbnail"><script type="application/json" class="w-json">{"items":[{"cdnUrl":"https:\/\/d3e54v103j8qbb.cloudfront.net\/img\/image-placeholder.svg","width":150,"height":150,"fileName":"image-placeholder.svg","origFileName":"image-placeholder.svg","url":"images\/image-placeholder.svg","_id":"example_img","type":"image","fileSize":2063}],"group":"gallery"}</script></a></div>
				</div>
			</div>
			<div class="hero-section home-page-hero">
				<h1 data-ix="hero-text" class="home-page-heading">Мои публикации</h1>
			</div>
			<div class="section-6 top-section home-page">
				<div class="hero-container w-container">
					<div class="w-clearfix">
						<div data-ix="tile-1" class="_60block"><a href="#" class="hero-tile w-inline-block"><div class="tile-text">Влюбляю<br>в Андорру</div><div class="tile-image"><div class="tile-overlay"></div></div></a></div>
						<div data-ix="tile-3" class="_40block"><a href="#" data-ix="show-contact-overlay" class="hero-tile w-inline-block"><div class="tile-text">Hire<br>Me.</div><div class="tile-image-copy hire"><div class="tile-overlay"></div><div class="tile-overlay"></div></div></a></div>
						<div data-ix="tile-3" class="_33block"><a href="#" data-ix="show-contact-overlay" class="hero-tile w-inline-block"><div class="tile-text">Hire<br>Me.</div><div class="tile-image hire"><div class="tile-overlay"></div><div class="tile-overlay"></div></div></a></div>
						<div data-ix="tile-2" class="_33block"><a href="#" data-ix="show-contact-overlay" class="hero-tile w-inline-block"><div class="tile-text">Hire<br>Me.</div><div class="tile-image hire"><div class="tile-overlay"></div><div class="tile-overlay"></div></div></a></div>
						<div data-ix="tile-4" class="_33block">
							<div class="w-clearfix"><a href="#" class="social-block w-inline-block"></a><a href="#" class="social-block facebook w-inline-block"></a><a href="#" class="social-block pinterest w-inline-block"></a><a href="#" class="social-block dribbble w-inline-block"></a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="contact-section">
			<div class="contact-section-overlay">
				<div class="container centered w-container">
					<div class="section-title-wrapper">
						<h2 class="section-title">Связаться со мной</h2>
						<div class="section-description">mail@4ong.com</div>
					</div><a href="http://www.facebook.com" target="_blank" class="outline-social-icon w-inline-block"><img src="images/5eb7e5adf6d8404365d02546_Icon-facebook.png" alt="" class="footer-small-social-icon"></a><a href="http://www.twitter.com" target="_blank" class="outline-social-icon w-inline-block"><img src="images/5eb7e5adf6d8407e34d025a3_Icon-twitter.png" alt="" class="footer-small-social-icon"></a><a href="http://www.google.com" target="_blank" class="outline-social-icon w-inline-block"><img src="images/5eb7e5adf6d8406a3bd0258c_Icon-google.png" alt="" class="footer-small-social-icon"></a></div>
			</div>
		</div>
		<div class="simple-footer">
			<div class="container w-container">
				<div class="footer-row w-row">
					<div class="footer-logo-column-left w-col w-col-3">
						<div class="footer-logo">Dream grower</div>
						<div class="footer-logo subtitle">Познай себя и измени жизнь!</div>
					</div>
					<div class="footer-menu-column w-col w-col-6"><a href="#" class="footer-inline-link">Главная</a><a href="#" class="footer-inline-link">обо мне</a><a href="#" class="footer-inline-link">проекты</a><a href="#" class="footer-inline-link">мечты</a><a href="#" class="footer-inline-link">купи у меня</a></div>
					<div class="footer-social-col-right w-col w-col-3"><a href="http://www.facebook.com" target="_blank" class="footer-social-icon w-inline-block"><img src="images/5eb7e5adf6d8404365d02546_Icon-facebook.png" alt="" class="footer-small-social-icon"></a><a href="http://www.twitter.com" target="_blank" class="footer-social-icon w-inline-block"><img src="images/5eb7e5adf6d8407e34d025a3_Icon-twitter.png" alt="" class="footer-small-social-icon"></a><a href="http://www.google.com" target="_blank" class="footer-social-icon w-inline-block"><img src="images/5eb7e5adf6d8406a3bd0258c_Icon-google.png" alt="" class="footer-small-social-icon"></a></div>
				</div>
			</div>
			<div class="simple-bottom-footer">
				<div class="container w-container">
					<p class="bottom-footer-paragraph"><strong data-new-link="true">Copyright © Dream Grower</strong> - Images used for demonstration purpose only (<a href="#" class="bottom-footer-link">Licenses</a>)</p>
					<p class="bottom-footer-paragraph right">Разработка сайта - Dream Grower<a target="_blank" href="https://webflow.com/templates/designers/rowan-hartsuiker" class="bottom-footer-link"></a></p>
				</div>
			</div>
		</div>
		<div data-autoplay="true" data-loop="true" data-wf-ignore="true" data-poster-url="https://uploads-ssl.webflow.com/56dd3343eca9ebfc21add331/56ded4d52f77f77d1ff7baf4_abcd-poster-00001.png" data-video-urls="https://uploads-ssl.webflow.com/5ece3e6226790561abbb61a3/5ece4454f664a36e7681ce7d_abcd-transcode.mp4,https://uploads-ssl.webflow.com/5ece3e6226790561abbb61a3/5ece4454f664a36e7681ce7d_abcd-transcode.webm" class="hero-background-video-2 w-background-video w-background-video-atom">
			<video autoplay="" loop="" style='background-image:url("https://uploads-ssl.webflow.com/56dd3343eca9ebfc21add331/56ded4d52f77f77d1ff7baf4_abcd-poster-00001.png")' muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
				<source src="https://uploads-ssl.webflow.com/5ece3e6226790561abbb61a3/5ece4454f664a36e7681ce7d_abcd-transcode.mp4" data-wf-ignore="true"></source>
				<source src="https://uploads-ssl.webflow.com/5ece3e6226790561abbb61a3/5ece4454f664a36e7681ce7d_abcd-transcode.webm" data-wf-ignore="true"></source>
			</video>
		</div>
		<%= javascript_include_tag "jquery-3.4.1.min.220afd743d" %>
		<%= javascript_include_tag "script" %>
		<script src="https://www.google.com/recaptcha/api.js"></script>
		<!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
		<!-- FOOTER CODE -->
		<script type="text/javascript">$(document).ready(function(){$('[href*="brandjs"],.w-webflow-badge').attr('style', 'display:none !important');$('a[href="'+window.location.href+'"]').addClass('w--current');});</script>

